/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Color Codes:
    Dark Blue: #003056;
    Mid Blue: #04518C;
    Light Blue: #00A1D9;
    Teal: #47D9BF;
    Dark-Teal: #62AD9B;
    Light Tan: #FFFCE4;
    Tan: #E0A443;
    Dark Tan: #614101;
*/

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* header */
a img {
    border: 0;
}
.header {
    margin: 0 0 30px 0;

    background: #E5ECFB;
    background: -webkit-gradient(linear, left top, left bottom, from(#E8EEFC), to(#D7DEEA));
    background: -moz-linear-gradient(top,  #E8EEFC,  #D7DEEA);
    background: linear-gradient(top,  #E8EEFC,  #D7DEEA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EEFC', endColorstr='#D7DEEA');

    border-bottom: 1px solid #AAA;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .6), 0px 2px 2px rgba(0, 0, 0, .15);
    min-height: 50px;
}
.header-inner {
    max-width: 605px;
    margin: 0 auto;
}
.nav, .nav li, .nav-play, .nav-play li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.nav {
    padding: 15px 6px 15px 6px;
}
.header .nav {
    padding: 15px 0 15px 155px;
}
.header .nav-play {
    padding: 15px 0 15px 10px;
}
.nav .button {
    position: relative;
    padding: 5px 10px;
    margin: 0 -1px 0 0;
    border-radius: 0;
}
.nav .button img {
    position: absolute;
    top: -8px;
    left: -150px;
}
.nav .button.cur,
.nav .button.cur:hover {
    color: #777777;
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.nav .button.cur:hover {
    border: solid 1px #888888;
}
.nav .button:hover {
    z-index: 10;
}
.nav .button.nav-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav .button.nav-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    white-space: nowrap;

    /* default colors */
    color: #222222;
    border: solid 1px #AAAAAA;
    background: #e3e3e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: -moz-linear-gradient(top,  #f6f6f6,  #e3e3e3);
    background: linear-gradient(top,  #f6f6f6,  #e3e3e3);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
}
.button:hover {
    background: #cfcfcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#cfcfcf));
    background: -moz-linear-gradient(top,  #f2f2f2,  #cfcfcf);
    background: linear-gradient(top,  #f2f2f2,  #cfcfcf);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cfcfcf');
    border-color: #606060;
}
.button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f2f2f2));
    background: -moz-linear-gradient(top,  #cfcfcf,  #f2f2f2);
    background: linear-gradient(top,  #cfcfcf,  #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#f2f2f2');
}

.greenbutton {
    background: hsl(100,30%,93%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,97%)), to(hsl(100,30%,84%)));
    background: -moz-linear-gradient(top,  hsl(100,30%,97%),  hsl(100,30%,84%));
    background: linear-gradient(top,  hsl(100,30%,97%),  hsl(100,30%,84%));
    border-color: hsl(100,30%,70%);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
}
.greenbutton:hover {
    background: hsl(100,30%,87%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,94%)), to(hsl(100,30%,77%)));
    background: -moz-linear-gradient(top,  hsl(100,30%,94%),  hsl(100,30%,77%));
    background: linear-gradient(top,  hsl(100,30%,94%),  hsl(100,30%,77%));
    border-color: hsl(100,30%,41%);
}
.greenbutton:active {
    background: hsl(100,30%,77%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,77%)), to(hsl(100,30%,83%)));
    background: -moz-linear-gradient(top,  hsl(100,30%,77%),  hsl(100,30%,83%));
    background: linear-gradient(top,  hsl(100,30%,77%),  hsl(100,30%,83%));
    border-color: hsl(100,30%,41%);
}

/* general page styling */
html, body {
    font: 10pt Verdana, sans-serif;
    color: #614101;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 0 1em;
    width: 80%;
    margin-left: 10%;
    float: left;
}
div.wrapper > div > span {
    padding-right: 5px;
}
fieldset {
    float: left;
    border: none;
}
fieldset input,select {
    color: #614101;
    border: none;
    border-bottom: 2px solid #00A1D9;
}
hr {
    border: 1px solid #E0A443;
}
legend {
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
/*    text-shadow: 2px 2px 2px rgba(80,80,80,.5);
*/}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}
.title-text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em 1em 0.5em 0;
}
.big-text {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.small-text {
    font-size: 0.8em;
}

/*CUSTOMIZED*/
.panel {
    float: left;
    display: block;
    width: 33%;
}
.poke-info {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.field-info, .poke-import {
    text-align: center;
    width: 100%;
}
.field-info .btn {
    padding: 5px 0;
}
.holder-0 {
    position: absolute;
    top: 151px;
}
#holder-2 tr {
    white-space: nowrap;
}

/* general button styling */
.btn {
    text-align: center;
    border-bottom: 2px solid #00A1D9;
    padding: 4px 8px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;

    transition: all 0.2s;
}
.btn-wide {
    width: 7.5em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 6em;
}
.btn-xsmall {
    width: 1.8em;
}
.btn-1 {
    width: 100%;
}
.btn-2 {
    width: 50%;
}
.btn-3 {
    width: 33%;
}
.btn-4 {
    width: 25%;
}
.btn-5 {
    width: 20%;
}

.btn-input:checked + .btn {
    font-weight: bold;
    color: white;
    background: #00A1D9;
}
.btn:hover {
    z-index: 10;
    color: white;
    background: #00A1D9;
}
.btn-input[type="radio"]:checked + .btn {
    cursor: default;
}
.btn-input {
    display: none;
}
.btn-input:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*move-bar damage visualization*/
.move-bar {
    width: 100%;
    height: 30px;
    margin-top: 2em;
    position: relative;
    background-color: rgb(100,100,100);
}
#move-bar1 {
    position: relative;
    float: left;
    width: 40%;
    margin-left: 5%;
    height: inherit;
}
#move-bar1 .move-bar-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: green;
}
#move-bar1 .move-bar-max {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: inherit;
    background-color: yellow;
}
#move-bar1 .move-bar-min {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: inherit;
    background-color: red;
}
#move-bar2 {
    position: relative;
    float: right;
    width: 40%;
    margin-right: 5%;
    height: inherit;
}
#move-bar2 .move-bar-base {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: inherit;
    background-color: green;
}
#move-bar2 .move-bar-max {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background-color: yellow;
}
#move-bar2 .move-bar-min {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background-color: red;
}

/* header - Customized*/
.move-result-group {
    margin: 1em 0 8em;
}
.move-result-subgroup {
    float: left;
    width: 45%;
}
.move-result-group .vs-logo {
    background: url('VS-Logo.png') no-repeat center;
    background-size: contain;
    width: 10%;
    min-height: 80px;
}
.move-result-group .btn {
    border-radius: 0;
    float: left;
    padding: .8em 0;
    margin: 0 0 .4em;

}
.main-result-group {
    margin: 2em 0 1em;
    text-align: center;
    font-size: 1.2em;
}
.move-result-subgroup div {
    float : left;
    width: 23%;
    margin:  0 1%;
}
.move-result-subgroup span {
    display: block;
    text-align: center;
    font-weight: bold;
}
.move-result-group .result-move-header {
    font-size: .8em;
    margin: 0 0 5px;
    width: 100%;
}


/* pokemon info */

/*CUSTOMIZED*/
.poke-info label {
    display: block;
    min-width: 6em;
}

.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span {
    display: inline-block;
    width:5em;
}
.poke-info input[type="number"] {
    display: inline;
    width: 5em;
}
.info-group {
    text-align: center;
    width: 100%;
    float: left;
}
.set-selector {
    width: 100%;
}
.info-selectors select {
    width: 8em;
}
select.toxic-counter {
    width: 4.5em;
}
.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
    font-size: 0.9em;
}
/*.move-selector {
    width: 9.5em;
}*/
.poke-info input.move-bp {
    width: 4em;
}
/*CUSTOMIZED*/

.info-group .btn {
    position: relative;
    top: 6px;
    width: 1.3em;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    text-decoration: none;
}
.info-group table {
    margin: auto;
}
.info-group .total {
    font-weight: bold;
    font-size: 1.2em;
}
.info-group div {
    width: 50%;
    float: left;
}
.info-selectors div {
    width: 25%;
}
.info-group label {
    letter-spacing: 1.5px;
}
.info-group .crit-btn {
    float: left;
    top:0;
    border-radius: 0;
    width: auto;
}
.info-group .move-selector {
    display: block;
    width:100%;
    float: left;
}

.move-cat {
    width: 5.7em;
}
.move-hits {
    width: 5em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    float: left;
    padding: 3px;
    width:100%;
}
.poke-info .move-section {
    width: 25%;
    float: left;
}
.poke-info .move-section select {
    display: block;
    width:100%;
    float: left;
}
.poke-info .move-section input {
    display: block;
    width:100%;
    float: left;

}
 .poke-info .move-section .btn-input {
    display: none;
}

/* field info */
.field-info .btn {
    font-size: 0.8em;
}
.field-info > div {
    width: 100%;
    float: left;
}
.hide {
    display: none;
}

/* select2 overrides */
.select2-container .select2-choice > .select2-chosen {
    width: 100%;
    color: #735600;
}
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 22px;
    line-height: 22px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}
.poke-info .select2-choice {
    border-radius: 0;
}

/* Bootstrap */
.panel-group > .panel {
    clear: left;
}

/* ColVis */
.clear {
  clear: right;
}

.import-team-text {
    width: 90%;
    min-height: 10em;
    resize: vertical;
}
