/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, .poke-info input:not([type]), .poke-info fieldset select:not([type]), fieldset .poke-info select:not([type]), fieldset .poke-info .crit-btn:not([type]), .poke-info fieldset .crit-btn:not([type]), .poke-info input[type="text"], .poke-info fieldset select[type="text"], fieldset .poke-info select[type="text"], fieldset .poke-info [type="text"].crit-btn, .poke-info fieldset [type="text"].crit-btn, .poke-info input[type="number"], .poke-info fieldset select[type="number"], fieldset .poke-info select[type="number"], fieldset .poke-info [type="number"].crit-btn, .poke-info fieldset [type="number"].crit-btn, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* header */
.header {
  margin: 0 0 30px 0;
  background: #E5ECFB;
  background: -webkit-gradient(linear, left top, left bottom, from(#E8EEFC), to(#D7DEEA));
  background: -moz-linear-gradient(top, #E8EEFC, #D7DEEA);
  background: linear-gradient(top, #E8EEFC, #D7DEEA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EEFC', endColorstr='#D7DEEA');
  border-bottom: 1px solid #AAA;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.6), 0px 2px 2px rgba(0, 0, 0, 0.15);
  min-height: 50px; }
  .header .nav {
    padding: 15px 0 15px 155px; }
  .header .nav-play {
    padding: 15px 0 15px 10px; }

.header-inner {
  max-width: 605px;
  margin: 0 auto; }

.nav, .nav-play {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left; }
  .nav li, .nav-play li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }

.nav {
  padding: 15px 6px 15px 6px; }
  .nav .button {
    position: relative;
    padding: 5px 10px;
    margin: 0 -1px 0 0;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
    white-space: nowrap;
    /* default colors */
    color: #222222;
    border: solid 1px #AAAAAA;
    background: #e3e3e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: -moz-linear-gradient(top, #f6f6f6, #e3e3e3);
    background: linear-gradient(top, #f6f6f6, #e3e3e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3'); }
    .nav .button:hover {
      background: #cfcfcf;
      background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#cfcfcf));
      background: -moz-linear-gradient(top, #f2f2f2, #cfcfcf);
      background: linear-gradient(top, #f2f2f2, #cfcfcf);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cfcfcf');
      border-color: #606060; }
    .nav .button:active {
      background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f2f2f2));
      background: -moz-linear-gradient(top, #cfcfcf, #f2f2f2);
      background: linear-gradient(top, #cfcfcf, #f2f2f2);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#f2f2f2'); }
    .nav .button img {
      position: absolute;
      top: -8px;
      left: -150px; }
    .nav .button.cur {
      color: #777777;
      background: #f8f8f8;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      .nav .button.cur:hover {
        color: #777777;
        background: #f8f8f8;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        border: solid 1px #888888; }
    .nav .button:hover {
      z-index: 10; }
    .nav .button.nav-first {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .nav .button.nav-last {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

.greenbutton {
  background: #ebf3e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faf5), to(#d2e2ca));
  background: -moz-linear-gradient(top, #f7faf5, #d2e2ca);
  background: linear-gradient(top, #f7faf5, #d2e2ca);
  border-color: #abc99c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3'); }
  .greenbutton:hover {
    background: #dbe8d4;
    background: -webkit-gradient(linear, left top, left bottom, from(#eef4eb), to(#bed6b3));
    background: -moz-linear-gradient(top, #eef4eb, #bed6b3);
    background: linear-gradient(top, #eef4eb, #bed6b3);
    border-color: #5e8849; }
  .greenbutton:active {
    background: #bed6b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#bed6b3), to(#cfe1c7));
    background: -moz-linear-gradient(top, #bed6b3, #cfe1c7);
    background: linear-gradient(top, #bed6b3, #cfe1c7);
    border-color: #5e8849; }

/* Mixins */
/* Color Codes: */
/* general page styling */
* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px; }

html, body {
  font: 10pt Verdana, sans-serif;
  color: #505050;
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

.wrapper {
  padding: 0 1em;
  width: 80%;
  margin-left: 10%;
  float: left; }

/* Global Styling */
.title-text {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em 1em 0.5em 0; }

.big-text {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0; }

.small-text {
  font-size: 0.8em; }

.btn, .poke-info .crit-btn {
  text-align: center;
  border-bottom: 2px solid #B9B4FF;
  padding: 10px 0;
  margin: 10px 1%;
  cursor: pointer;
  display: inline-block;
  float: left; }
  .btn:hover, fieldset input:hover, fieldset select:hover, .poke-info .crit-btn:hover, .wrapper .select2-container span.select2-chosen:hover, .wrapper .select2-container .poke-info input.select2-chosen:hover:not([type]), .poke-info .wrapper .select2-container input.select2-chosen:hover:not([type]), .wrapper .select2-container .poke-info fieldset select.select2-chosen:hover:not([type]), .poke-info fieldset .wrapper .select2-container select.select2-chosen:hover:not([type]), .wrapper .select2-container fieldset .poke-info select.select2-chosen:hover:not([type]), fieldset .poke-info .wrapper .select2-container select.select2-chosen:hover:not([type]), .wrapper .select2-container fieldset .poke-info .select2-chosen.crit-btn:hover:not([type]), fieldset .poke-info .wrapper .select2-container .select2-chosen.crit-btn:hover:not([type]), .wrapper .select2-container .poke-info fieldset .select2-chosen.crit-btn:hover:not([type]), .poke-info fieldset .wrapper .select2-container .select2-chosen.crit-btn:hover:not([type]), .wrapper .select2-container .poke-info input.select2-chosen[type="text"]:hover, .poke-info .wrapper .select2-container input.select2-chosen[type="text"]:hover, .wrapper .select2-container .poke-info fieldset select.select2-chosen[type="text"]:hover, .poke-info fieldset .wrapper .select2-container select.select2-chosen[type="text"]:hover, .wrapper .select2-container fieldset .poke-info select.select2-chosen[type="text"]:hover, fieldset .poke-info .wrapper .select2-container select.select2-chosen[type="text"]:hover, .wrapper .select2-container fieldset .poke-info .select2-chosen[type="text"].crit-btn:hover, fieldset .poke-info .wrapper .select2-container .select2-chosen[type="text"].crit-btn:hover, .wrapper .select2-container .poke-info fieldset .select2-chosen[type="text"].crit-btn:hover, .poke-info fieldset .wrapper .select2-container .select2-chosen[type="text"].crit-btn:hover, .wrapper .select2-container .poke-info input.select2-chosen[type="number"]:hover, .poke-info .wrapper .select2-container input.select2-chosen[type="number"]:hover, .wrapper .select2-container .poke-info fieldset select.select2-chosen[type="number"]:hover, .poke-info fieldset .wrapper .select2-container select.select2-chosen[type="number"]:hover, .wrapper .select2-container fieldset .poke-info select.select2-chosen[type="number"]:hover, fieldset .poke-info .wrapper .select2-container select.select2-chosen[type="number"]:hover, .wrapper .select2-container fieldset .poke-info .select2-chosen[type="number"].crit-btn:hover, fieldset .poke-info .wrapper .select2-container .select2-chosen[type="number"].crit-btn:hover, .wrapper .select2-container .poke-info fieldset .select2-chosen[type="number"].crit-btn:hover, .poke-info fieldset .wrapper .select2-container .select2-chosen[type="number"].crit-btn:hover {
    z-index: 10;
    color: white;
    background: #7673A3;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }

.btn-1 {
  width: 98%; }

.btn-2 {
  width: 48%; }

.btn-3 {
  width: 31%; }

.btn-4 {
  width: 23%; }

.btn-5 {
  width: 18%; }

.btn-6 {
  width: 16.6%; }

.btn-10 {
  width: 8%; }

.btn-input:checked + .btn, .poke-info .btn-input:checked + .crit-btn {
  font-weight: bold;
  color: white;
  background: #7673A3;
  border: none; }

.btn-input {
  display: none; }
  .btn-input[type="radio"]:checked + .btn, .poke-info .btn-input[type="radio"]:checked + .crit-btn {
    cursor: default; }
  .btn-input:disabled + .btn, .poke-info .btn-input:disabled + .crit-btn {
    color: #999999; }

.btn-group {
  display: inline-block;
  width: 100%; }

fieldset {
  float: left;
  border: none; }
  fieldset legend {
    font-weight: bold;
    text-align: center;
    font-size: 1.3em; }
  fieldset input, fieldset select, fieldset .poke-info .crit-btn, .poke-info fieldset .crit-btn {
    color: #505050;
    border: 0;
    text-align: center; }

hr {
  border: 1px solid #E0A443; }

th, td {
  padding: 0;
  float: left; }

/*Move-bar damage visualization*/
.move-bar {
  float: left;
  width: 100%;
  height: 30px;
  margin: 1em 0;
  position: relative;
  background-color: #646464; }

#move-bar1 {
  position: relative;
  float: left;
  width: 40%;
  margin-left: 5%;
  height: inherit; }
  #move-bar1 .move-bar-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: green; }
  #move-bar1 .move-bar-max {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: inherit;
    background-color: yellow; }
  #move-bar1 .move-bar-min {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: inherit;
    background-color: red; }

#move-bar2 {
  position: relative;
  float: right;
  width: 40%;
  margin-right: 5%;
  height: inherit; }
  #move-bar2 .move-bar-base {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: inherit;
    background-color: green; }
  #move-bar2 .move-bar-max {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background-color: yellow; }
  #move-bar2 .move-bar-min {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background-color: red; }

/* Moves and Results*/
.main-result-group {
  float: left;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-size: 1.2em; }

.move-result-group {
  float: left;
  padding: 1em 0;
  width: 100%; }
  .move-result-group span[id^="resultDamage"], .move-result-group .poke-info input[id^="resultDamage"]:not([type]), .poke-info .move-result-group input[id^="resultDamage"]:not([type]), .move-result-group .poke-info fieldset select[id^="resultDamage"]:not([type]), .poke-info fieldset .move-result-group select[id^="resultDamage"]:not([type]), .move-result-group fieldset .poke-info select[id^="resultDamage"]:not([type]), fieldset .poke-info .move-result-group select[id^="resultDamage"]:not([type]), .move-result-group fieldset .poke-info [id^="resultDamage"].crit-btn:not([type]), fieldset .poke-info .move-result-group [id^="resultDamage"].crit-btn:not([type]), .move-result-group .poke-info fieldset [id^="resultDamage"].crit-btn:not([type]), .poke-info fieldset .move-result-group [id^="resultDamage"].crit-btn:not([type]), .move-result-group .poke-info input[id^="resultDamage"][type="text"], .poke-info .move-result-group input[id^="resultDamage"][type="text"], .move-result-group .poke-info fieldset select[id^="resultDamage"][type="text"], .poke-info fieldset .move-result-group select[id^="resultDamage"][type="text"], .move-result-group fieldset .poke-info select[id^="resultDamage"][type="text"], fieldset .poke-info .move-result-group select[id^="resultDamage"][type="text"], .move-result-group fieldset .poke-info [id^="resultDamage"][type="text"].crit-btn, fieldset .poke-info .move-result-group [id^="resultDamage"][type="text"].crit-btn, .move-result-group .poke-info fieldset [id^="resultDamage"][type="text"].crit-btn, .poke-info fieldset .move-result-group [id^="resultDamage"][type="text"].crit-btn, .move-result-group .poke-info input[id^="resultDamage"][type="number"], .poke-info .move-result-group input[id^="resultDamage"][type="number"], .move-result-group .poke-info fieldset select[id^="resultDamage"][type="number"], .poke-info fieldset .move-result-group select[id^="resultDamage"][type="number"], .move-result-group fieldset .poke-info select[id^="resultDamage"][type="number"], fieldset .poke-info .move-result-group select[id^="resultDamage"][type="number"], .move-result-group fieldset .poke-info [id^="resultDamage"][type="number"].crit-btn, fieldset .poke-info .move-result-group [id^="resultDamage"][type="number"].crit-btn, .move-result-group .poke-info fieldset [id^="resultDamage"][type="number"].crit-btn, .poke-info fieldset .move-result-group [id^="resultDamage"][type="number"].crit-btn {
    padding: 10px 0; }
  .move-result-group .vs-logo {
    background: url("VS-Logo.png") no-repeat center;
    background-size: contain;
    width: 10%;
    min-height: 80px; }
  .move-result-group .btn, .move-result-group .poke-info .crit-btn, .poke-info .move-result-group .crit-btn {
    padding: .8em 0;
    margin: 0 0 .4em; }

.move-result-subgroup {
  float: left;
  width: 45%; }
  .move-result-subgroup div {
    float: left;
    width: 23%;
    margin: 0 1%; }
  .move-result-subgroup span, .move-result-subgroup .poke-info input:not([type]), .poke-info .move-result-subgroup input:not([type]), .move-result-subgroup .poke-info fieldset select:not([type]), .poke-info fieldset .move-result-subgroup select:not([type]), .move-result-subgroup fieldset .poke-info select:not([type]), fieldset .poke-info .move-result-subgroup select:not([type]), .move-result-subgroup fieldset .poke-info .crit-btn:not([type]), fieldset .poke-info .move-result-subgroup .crit-btn:not([type]), .move-result-subgroup .poke-info fieldset .crit-btn:not([type]), .poke-info fieldset .move-result-subgroup .crit-btn:not([type]), .move-result-subgroup .poke-info input[type="text"], .poke-info .move-result-subgroup input[type="text"], .move-result-subgroup .poke-info fieldset select[type="text"], .poke-info fieldset .move-result-subgroup select[type="text"], .move-result-subgroup fieldset .poke-info select[type="text"], fieldset .poke-info .move-result-subgroup select[type="text"], .move-result-subgroup fieldset .poke-info [type="text"].crit-btn, fieldset .poke-info .move-result-subgroup [type="text"].crit-btn, .move-result-subgroup .poke-info fieldset [type="text"].crit-btn, .poke-info fieldset .move-result-subgroup [type="text"].crit-btn, .move-result-subgroup .poke-info input[type="number"], .poke-info .move-result-subgroup input[type="number"], .move-result-subgroup .poke-info fieldset select[type="number"], .poke-info fieldset .move-result-subgroup select[type="number"], .move-result-subgroup fieldset .poke-info select[type="number"], fieldset .poke-info .move-result-subgroup select[type="number"], .move-result-subgroup fieldset .poke-info [type="number"].crit-btn, fieldset .poke-info .move-result-subgroup [type="number"].crit-btn, .move-result-subgroup .poke-info fieldset [type="number"].crit-btn, .poke-info fieldset .move-result-subgroup [type="number"].crit-btn {
    display: block;
    text-align: center;
    font-weight: bold; }

.move-result-group .result-move-header {
  font-size: .8em;
  margin: 0 0 5px;
  width: 100%; }

/* Info Panels */
.panel {
  float: left;
  display: block;
  width: 18%;
  margin: 0 1%; }

.poke-panel {
  width: 40%;
  margin: 0; }

.field-info, .poke-import {
  text-align: center;
  width: 100%; }

.poke-info {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center; }
  .poke-info div {
    float: left; }
  .poke-info label {
    display: block;
    width: 100%; }
  .poke-info span, .poke-info input:not([type]), .poke-info fieldset select:not([type]), fieldset .poke-info select:not([type]), fieldset .poke-info .crit-btn:not([type]), .poke-info fieldset .crit-btn:not([type]), .poke-info input[type="text"], .poke-info fieldset select[type="text"], fieldset .poke-info select[type="text"], fieldset .poke-info [type="text"].crit-btn, .poke-info fieldset [type="text"].crit-btn, .poke-info input[type="number"], .poke-info fieldset select[type="number"], fieldset .poke-info select[type="number"], fieldset .poke-info [type="number"].crit-btn, .poke-info fieldset [type="number"].crit-btn {
    display: inline-block;
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; }
  .poke-info select, .poke-info .crit-btn {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    padding: 10px 0; }
  .poke-info .info-group {
    text-align: center;
    width: 100%;
    margin-top: 20px; }
    .poke-info .info-group select, .poke-info .info-group .crit-btn, .poke-info .info-group input, .poke-info .info-group fieldset select, fieldset .poke-info .info-group select, fieldset .poke-info .info-group .crit-btn, .poke-info .info-group fieldset .crit-btn, .poke-info fieldset .info-group .crit-btn {
      border-bottom: 2px solid #B9B4FF; }
    .poke-info .info-group table {
      width: 100%; }
      .poke-info .info-group table th {
        padding: 5px; }
      .poke-info .info-group table td {
        float: left; }
      .poke-info .info-group table tr {
        padding: 5px 0;
        width: 100%;
        float: left; }
      .poke-info .info-group table a {
        width: 4.5%;
        position: relative;
        padding: 10px 0;
        float: left;
        margin: 0;
        border: 0;
        text-decoration: none; }
      .poke-info .info-group table .btn-boosts {
        width: 7%; }
        .poke-info .info-group table .btn-boosts select, .poke-info .info-group table .btn-boosts .crit-btn {
          margin: 0;
          width: 100%; }
      .poke-info .info-group table select, .poke-info .info-group table .crit-btn, .poke-info .info-group table input, .poke-info .info-group table fieldset select, fieldset .poke-info .info-group table select, fieldset .poke-info .info-group table .crit-btn, .poke-info .info-group table fieldset .crit-btn, .poke-info fieldset .info-group table .crit-btn {
        border-bottom: 2px solid #B9B4FF;
        float: left; }
      .poke-info .info-group table input, .poke-info .info-group table fieldset select, fieldset .poke-info .info-group table select, fieldset .poke-info .info-group table .crit-btn, .poke-info .info-group table fieldset .crit-btn, .poke-info fieldset .info-group table .crit-btn, .poke-info .info-group table span, .poke-info .info-group table input:not([type]), .poke-info .info-group table fieldset select:not([type]), .poke-info fieldset .info-group table select:not([type]), fieldset .poke-info .info-group table select:not([type]), fieldset .poke-info .info-group table .crit-btn:not([type]), .poke-info .info-group table fieldset .crit-btn:not([type]), .poke-info fieldset .info-group table .crit-btn:not([type]), .poke-info .info-group table input[type="text"], .poke-info .info-group table fieldset select[type="text"], .poke-info fieldset .info-group table select[type="text"], fieldset .poke-info .info-group table select[type="text"], fieldset .poke-info .info-group table [type="text"].crit-btn, .poke-info .info-group table fieldset [type="text"].crit-btn, .poke-info fieldset .info-group table [type="text"].crit-btn, .poke-info .info-group table input[type="number"], .poke-info .info-group table fieldset select[type="number"], .poke-info fieldset .info-group table select[type="number"], fieldset .poke-info .info-group table select[type="number"], fieldset .poke-info .info-group table [type="number"].crit-btn, .poke-info .info-group table fieldset [type="number"].crit-btn, .poke-info fieldset .info-group table [type="number"].crit-btn, .poke-info .info-group table label {
        padding: 10px 0; }
  .poke-info .move-section {
    width: 25%;
    float: left; }
    .poke-info .move-section input, .poke-info .move-section fieldset select, fieldset .poke-info .move-section select, fieldset .poke-info .move-section .crit-btn, .poke-info .move-section fieldset .crit-btn, .poke-info fieldset .move-section .crit-btn, .poke-info .move-section label {
      padding: 10px 0; }
  .poke-info .total {
    font-size: 1.2em; }
  .poke-info .type1, .poke-info .type2 {
    width: 40%;
    margin: 0 5%; }
  .poke-info .btn-2 .level {
    padding: 10px 0; }
  .poke-info .health {
    text-align: center; }
    .poke-info .health .percent-hp {
      padding: 10px 0; }
  .poke-info .btn-2 .current-hp, .poke-info .max-hp, .poke-info .slash {
    width: 33%;
    padding: 10px 0;
    margin: 0;
    display: inline-block; }

.field-info > div {
  width: 100%;
  float: left; }

.set-selector {
  width: 100%; }

.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
  font-size: 0.9em; }

.info-selectors div {
  width: 25%; }

.info-group label {
  letter-spacing: 1.5px; }
.info-group .move-selector {
  display: block;
  width: 100%;
  float: left; }

input, fieldset select, fieldset .poke-info .crit-btn, .poke-info fieldset .crit-btn {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  float: left; }

.poke-info .move-section .btn-input {
  display: none; }

.hide {
  display: none; }

/* select2 overrides */
.select2-container .select2-choice > .select2-chosen {
  width: 100%; }

.wrapper .select2-container .select2-choice .select2-arrow {
  display: none; }
.wrapper .select2-container span.select2-chosen, .wrapper .select2-container .poke-info input.select2-chosen:not([type]), .poke-info .wrapper .select2-container input.select2-chosen:not([type]), .wrapper .select2-container .poke-info fieldset select.select2-chosen:not([type]), .poke-info fieldset .wrapper .select2-container select.select2-chosen:not([type]), .wrapper .select2-container fieldset .poke-info select.select2-chosen:not([type]), fieldset .poke-info .wrapper .select2-container select.select2-chosen:not([type]), .wrapper .select2-container fieldset .poke-info .select2-chosen.crit-btn:not([type]), fieldset .poke-info .wrapper .select2-container .select2-chosen.crit-btn:not([type]), .wrapper .select2-container .poke-info fieldset .select2-chosen.crit-btn:not([type]), .poke-info fieldset .wrapper .select2-container .select2-chosen.crit-btn:not([type]), .wrapper .select2-container .poke-info input.select2-chosen[type="text"], .poke-info .wrapper .select2-container input.select2-chosen[type="text"], .wrapper .select2-container .poke-info fieldset select.select2-chosen[type="text"], .poke-info fieldset .wrapper .select2-container select.select2-chosen[type="text"], .wrapper .select2-container fieldset .poke-info select.select2-chosen[type="text"], fieldset .poke-info .wrapper .select2-container select.select2-chosen[type="text"], .wrapper .select2-container fieldset .poke-info .select2-chosen[type="text"].crit-btn, fieldset .poke-info .wrapper .select2-container .select2-chosen[type="text"].crit-btn, .wrapper .select2-container .poke-info fieldset .select2-chosen[type="text"].crit-btn, .poke-info fieldset .wrapper .select2-container .select2-chosen[type="text"].crit-btn, .wrapper .select2-container .poke-info input.select2-chosen[type="number"], .poke-info .wrapper .select2-container input.select2-chosen[type="number"], .wrapper .select2-container .poke-info fieldset select.select2-chosen[type="number"], .poke-info fieldset .wrapper .select2-container select.select2-chosen[type="number"], .wrapper .select2-container fieldset .poke-info select.select2-chosen[type="number"], fieldset .poke-info .wrapper .select2-container select.select2-chosen[type="number"], .wrapper .select2-container fieldset .poke-info .select2-chosen[type="number"].crit-btn, fieldset .poke-info .wrapper .select2-container .select2-chosen[type="number"].crit-btn, .wrapper .select2-container .poke-info fieldset .select2-chosen[type="number"].crit-btn, .poke-info fieldset .wrapper .select2-container .select2-chosen[type="number"].crit-btn {
  width: 100%;
  padding: 4px 0;
  float: left;
  vertical-align: middle;
  margin: 0; }
.wrapper .select2-container .select2-choice {
  border-radius: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: auto;
  font-size: 0.9em; }

/* Bootstrap */
.panel-group > .panel {
  clear: left; }

/* ColVis */
.clear {
  clear: right; }

.import-team-text {
  width: 90%;
  min-height: 10em;
  resize: vertical; }

/*# sourceMappingURL=style.css.map */
